.cycle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    position: relative;
    transform-origin: center center;
}

.cycle-card {
    top: 110px;
    position: absolute;
    transform-origin: center 350px;
}